.main-aside {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 25rem;
    border: 2px solid black;
}

.main-aside__title {
    width: 100%;
    text-align: center;;
    margin: auto;
    padding: 10px 0;
    background-color: #0e4f1f;
    color: white;
    font-weight: bold;
}